<!DOCTYPE html>
<html>
  <head>
    <title>URLCORD.CF</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.png?size=4096">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<meta property="og:type" content="website">
<meta property="og:site_name" content="URLCORD.CF">
<meta property="og:title" content="Make awesome short url">
<meta property="og:description" content="Make your own custom invite link with URLCORD.CF discord bot">
<meta name="theme-color" content="#05eeff">
    
  </head>
  <body>
    
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"><%= client.user.username %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/list/server">Servers</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/invite">Add Your Server</a>
      </li>      
      <% if (req.user) { %> 
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>            
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>            
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>            
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>      
      <% } %>
    </ul>
  </div>
</nav>     
    
    <div style="margin: 20px;">
    <button class="btn btn-outline-dark my-btn" onclick="document.location='/dashboard'">Back</button>
    
    <br>
    <br>
    <br>
    <br>
    
    
    <form method="post">
      
      <div class="form-box">
        
<!--      Code    -->
        <label for="code"><strong>Code</strong></label>
        <input class="form-control form-control-lg" type="text" id="code" name="code" value="<%= data.code %>" placeholder="<%= data.code %>" required>
        
<!--      Invite URL    -->
        <label for="invite"><strong>Invite URL (Permanent link)</strong></label>
        <input class="form-control form-control-lg" type="url" id="invite" name="invite" value="<%= data.guild.redirect %>" placeholder="<%= data.guild.redirect %>" required>
        
       <label for="desc">Description</label>
       <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="<%= data.description %>" required><%= data.description %></textarea>

        
        <p align="center">
          <button class="btn btn-outline-dark my-btn" onclick="check()">Save</button>
        </p>
      </div>
      
    </form>
    </div>
     
  </body>
  
  <script>
  
    function check() {
    let inviteUrl = document.getElementById("invite").value;
    if (!inviteUrl.startsWith("https://discord.gg/")) return alert("Please provide valid url")
      
    return document.href="/dashboard/<%= req.params.guild_id %>"
    }
  
  </script>
</html>