<!DOCTYPE html>
<html>
  <head>
    <% let guild = client.guilds.cache.get(data.guild.id); %>
    <title><%= client.user.username %> Listing - <%= guild.name %></title>
    <% if (!guild.iconURL()) { %>
    <% let imgs = ["https://cdn.discordapp.com/embed/avatars/1.png", "https://cdn.discordapp.com/embed/avatars/2.png", "https://cdn.discordapp.com/embed/avatars/3.png", "https://cdn.discordapp.com/embed/avatars/4.png"] 
    let img = imgs[Math.floor(Math.random() * imgs.length)]
    %>
    <link rel="icon" href="<%= img %>">
    <% } else { %>
    <link rel="icon" href="<%= guild.iconURL() %>">
    <% } %>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="/server.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
<meta property="og:type" content="website">
<meta property="og:site_name" content="URLCORD.CF">
<meta property="og:title" content="<%= client.user.username %> Listing - <%= guild.name %>">
<meta property="og:description" content="<%= data.description %>">
<meta name="theme-color" content="#05eeff">
  </head>
  <body class="listing">
    
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"><%= client.user.username %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/list/server">Servers</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/invite">Add Your Server</a>
      </li>      
      <% if (req.user) { %> 
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>            
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>            
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>            
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>      
      <% } %>
    </ul>
  </div>
</nav> 
    
    <% if (!guild) return res.redirect("/list/server") %>
  <% let OM = guild.members.cache.filter(x => x.presence.status === "online").size + guild.members.cache.filter(x => x.presence.status === "dnd").size + guild.members.cache.filter(x => x.presence.status === "idle").size %>      
    
    <div class="server-box">
      <div class="server-top">
    <% if (!guild.iconURL()) { %>
    <% let imgs = ["https://cdn.discordapp.com/embed/avatars/1.png", "https://cdn.discordapp.com/embed/avatars/2.png", "https://cdn.discordapp.com/embed/avatars/3.png", "https://cdn.discordapp.com/embed/avatars/4.png"] 
    let img = imgs[Math.floor(Math.random() * imgs.length)]
    %>
    <img src="<%= img %>" class="server-icon" alt="guild icon">
    <% } else { %>
    <img src="<%= guild.iconURL() %>" class="server-icon" alt="guild icon">
    <% } %>
      <br>
      <h2 class="server-name"><%= guild.name %></h2>
      <br>
      <span class="badge badge-success"><waw style="border-right: 1px solid grey; padding-right: 5px;">Online</waw> <%= OM %></span>
      <span class="badge badge-info"><waw style="border-right: 1px solid grey; padding-right: 5px;">Members</waw> <%= guild.memberCount %></span>
      <span class="badge badge-warning"><waw style="border-right: 1px solid grey; padding-right: 5px;">Click</waw> <%= data.used %></span>        
      </div>
      <div class="b"></div>
      <p class="server-desc">
        <%= data.description.length > 500 ? data.description.substring(0, 500) + `...` : data.description %>
      </p>
      <div class="server-nav">
        <button class="btn btn-primary" onclick="location.href='https://urlcord.cf/<%=  data.code %>'" style="width: 60%; font-weight: bold;">Join</button>
      </div>
    </div>
    
    

    
  </body>
</html>